/* === removing default button style ===*/
.buttonTexture {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

/* button styling */
.buttonTexture {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: cyan;
    /* letter-spacing: 3px; */
    text-decoration: none;
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    text-align: left;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
    animation: hoverAnimation 2.5s infinite alternate;
}
/* frame animation  */
@keyframes hoverAnimation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
        filter: drop-shadow(0 0 23px var(--animation-color));
    }
}
/* hover */
/* .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
} */


.biggy{
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(31,31,31,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(31,31,31,1)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(31,31,31,1) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(31,31,31,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(31,31,31,1) 100%);
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(31,31,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1f1f1f', GradientType=1 );
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem;
    height: 100vh;
    width: 100%;
    padding: 4rem 0;
}
.left{
    width: 50%;
}
.left h1{
    font-size: 4.5rem;
    letter-spacing: 0.4rem;
    color: white;
    padding: 0.5rem 0;
    line-height: 5.5rem;
}
.stroke_text{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.left p{
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    color: white;
    letter-spacing: 0.1rem/* 1.6px */;
    padding-top: 1rem/* 16px */;
    padding-bottom: 1rem/* 16px */;
}
.tor{
    width: 100%;
    height: 65vh;
    border-radius: 37% 63% 63% 37% / 54% 24% 76% 46% ;
}
.button2 {
    margin: 1rem 0rem;
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    font-size: 20px;
    font-weight: 600;
}  
.button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}  
.button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}  
.button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}  
.button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
}  
.button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}  
.button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
} 

@media (max-width: 500px) {
    .tohid{display: none;}
    .tor{
        display: block !important;
        height: 30vh;
        width: 60vw;
    }
    .buttonTexture { 
         letter-spacing: 1.5px;
    }
    .buttonTexture .hover-text{
        width: 100%;
        border: none;
        animation: none;
        filter: drop-shadow(0 0 23px var(--animation-color));
    }
    .biggy {
        padding: 0rem 0 0 0 ;
        justify-content:center;
        height: 100vh;
    }
    .left p {
        font-size: 1.1rem/* 20px */;
        line-height: 1.55rem/* 28px */;
        letter-spacing: 0rem/* 1.6px */;
        padding-top: 0.5rem/* 16px */;
        padding-bottom: 1rem/* 16px */;
    }
    .button2 {
        margin: 0rem;
        font-size: 17px;
        font-weight: 600;
    }
    .left{width: 85%;}
    .left h1 {
        font-size: 2.5rem;
        letter-spacing: 0rem;
        padding: 5rem 0 0 0 ;
        line-height: 4rem;
        text-align: center;
    }
    .left .span{
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }
}
@media (min-width:600px ) and ( max-width: 1200px) {
    .left {
        width: 45%;
    }
    .left h1 {
        font-size: 3.9rem;
        letter-spacing: 0.1rem;
        color: white;
        padding: 0.5rem 0;
        line-height: 5.5rem;
    }
    .left .button{
        font-size: 3.3rem;
    }
    .tohid{
        width: 40% !important;
    }
    .tohid img{
        height: 45vh;
        width: 100%;
    }
}