.about-home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)) , url("images/back1.jpg");
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}
.about-home h2{
    color: #fff;
    font-size: 2.9rem;
    letter-spacing: 1px;
}
.contact{
    padding: 6vw 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start ;
    background-color: #fff;
}
.contact .get-in{
    width: 350px;
}  
.contact .get-in h2{
    font-size: 30px;
    color: white;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}
.contact .get-in p{
    color: white;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed; 
}  
.contact .get-in h3{
    font-size: 16px;
    color: orange;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}  
.contact .get-in .getin-details div{
    display: flex;
}  
.contact .get-in .getin-details div .get{
    font-size: 16px;
    line-height: 22px;
    color: #5838fc;
    margin-right: 20px; 
}  
.contact .get-in .getin-details div p{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
    border-bottom: none;
}  
.contact .get-in .getin-details .pro-links .i{
    margin-right: 8px;
    padding: 10px 13px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: all 0.5s ease;
}
.contact .form{
    width: 60%;
    background-color: #191919;
    padding: 40px;
    border-radius: 10px;
}  
.contact .form h4{
    font-size: 24px;
    color: white;
    line-height: 30px;
    margin-bottom: 8px;
}  
.contact .form p{
    color: white;
    line-height: 24px;
    padding-bottom: 25px;
}  
.contact .form .form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}  
.contact .form .form-row input{
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: white;
    color: black;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}  
.contact .form .form-col textarea,
  .contact .form .form-col input{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: white;
    color: black;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}  
.contact .form .form-col button{
    font-size: .9rem;
    padding: 13px 25px ;
    background-color: rgb(24, 24, 164);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: white;
}  
.map{
    width: 100%;
    height: 70vh;
    margin-bottom: 8vw;
}  
.map iframe{
    width: 100%;
    height: 100%;
} 

@media (max-width: 1200px) {
    .contact .get-in {
        width: 40%;
    }
    .contact .form {
        width: 50%;
        padding: 30px;
    }
    .map {
        width: 100%;
        height: 50vh;
    }
}
@media (max-width: 475px) {
    .contact {
        padding: 4vw;
        padding-bottom: 8vw;
        padding-top: 8vw;
        flex-direction: column;
    }
    .contact .get-in {
        width: 100%;
        padding-bottom: 8vw;
    }
    .contact .form {
        width: 100%;
        padding: 30px;
    }
    .contact .form .form-row {
        flex-direction: column;
    }
    .contact .form .form-row input {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        border-radius: 3px;
        border: none;
        background-color: white;
        color: #7e7c87;
        outline: none;
        padding: 20px 30px;
        margin-bottom: 20px;
    }
    .contact .form .form-col textarea{
        width: 100%;
        height: 150px;
    }
}